body {background-color: red;}

.body1{
  background-color: red;
}
.body1{
  height:40px;
}
.body1{
  color:white;
}
{
  height:120px;
  width:100px;
}
.body2{background-color:#91D6FF}
.body2{
  height:40px;
}
